/* .header{
    color: #fff !important;
} */

/* .search-input>form>input{
    background-color: rgba(223, 223, 223, 0.718);
} */


/* .container{
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);

} */